<!DOCTYPE html>
<head>
  <title>激活</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>激活</h3>
  <form action="/active" method="post">
    <input type="text" name="licence" placeholder="输入激活码" required />
    <input type="submit" value="激活" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}

  <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备12050610号-4</a>
</body>
