<!DOCTYPE html>
<head>
  <title>角色定义</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
</head>

<body>
  <h3>网站免责声明</h3>
  <h5>请注意以下条款和条件，以规避您的风险和损失。如果您不同意本申明，请立即离开本网站。如果您继续访问和使用本网站，则表示您已经阅读、理解并同意接受本声明的所有条款和条件。</h5>
  <p>
    1. 本网站所提供的任何内容和服务仅供用户个人学习、研究和测试之用，不得作为商业用途。本网站的所有信息未来可能会随时更新和更改、不保证其准确性、完整性、及时性、适用性、稳定性和可靠性。
  </p>
  <p>
    2. 本网站提供的各种服务可能会由于技术故障、网络状况、通讯线路等各种原因而受到影响，使用户无法正常使用服务。对于因此造成的任何损失或者责任，本网站概不负责。
  </p>
  <p>
    3. 本网站内所有文章、评论、资料和信息等均为用户自行发布和创作，不代表本网站立场。用户应对使用该等信息所产生的风险和后果自行承担。对于任何因使用本网站所提供的信息和服务而导致的任何直接或者间接损失，本网站概不负责。
  </p>
  <p>
    4. 用户应当遵守中华人民共和国的相关法律法规，不得利用本网站进行任何违反法律法规的活动。如果因用户违反法律法规而导致的一切后果，用户应独立承担相应的责任和后果，并赔偿因此产生的全部费用和损失。
  </p>
  <p>
    5. 本网站不对用户在本网站上发布的任何内容、评论、言论、图片等内容的真实性、合法性、有效性、准确性、完整性、可靠性和及时性做出任何保证。用户应对其发布的内容自行进行审核和验证，如有错误、虚假、侵犯他人权益等情况，用户应承担相应的法律责任并赔偿因此给本网站及他人造成的一切损失。
  </p>
  <p>
    6. 本网站所提供的链接仅供用户方便浏览之用，与本网站无关。链接所指向的网页内容及其可用性均由其网站运营者负责。本网站不对链接所指向的网站的内容、准确性、及时性、完整性、合法性、信用等作任何保证和承诺，不对其产生的任何损失或责任承担任何法律责任。
  </p>
  <p>
    7. 在任何情况下，本网站不对用户使用本网站所导致的任何直接、间接、特殊、附带的损害或者任何其他形式的损失承担任何责任，包括但不限于利润损失、商业终端、信息损失等。
  </p>
  <p>
    8. 用户应当妥善保管自己的账号和密码，不得将其转让、出租、出借等。如因用户泄露账号和密码而导致的一切风险和损失均由用户自行承担。如有发现他人未经授权而使用用户的账号和密码登录本网站，用户应立即通知本网站。
  </p>
  <p>
    9. 本网站有权随时更改和更新本声明内容，并在网站上发布更新版本。用户应在每次访问本网站时查看本声明是否有更新。
  </p>
  <p>
    10. 如果本免责声明中的任何条款被认定为无效或者不可执行，该条款应被视为被撤销，而不影响其他条款的有效性和可执行性。
  </p>
  <p>
    11. 在使用本网站的过程中，用户应当遵守互联网相关规定、中国法律法规及相关国际惯例。因用户违反上述规定而导致的一切后果，用户应独立承担相应的责任和后果，并赔偿因此产生的全部费用和损失。
  </p>
  <p>
    12. 本网站不对用户因在本网站获取到的任何信息、资料、建议、服务等造成的直接、间接、特殊、附带的损害或任何其他形式的损失承担任何责任。
  </p>
  <p>
    13. 用户在使用本网站时，应遵守公序良俗，不得发布含有诽谤、侮辱、色情、暴力等不良信息的内容，任何违反法律、道德、伦理规范的行为均由用户自行承担责任。
  </p>
  <p>
    14. 用户对于本网站的使用应遵守以下原则：
    <ol>
      <li>不干扰或破坏本网站的正常运行；</li>
      <li>不侵犯本网站及其他用户的合法权益；</li>
      <li>不利用本网站进行任何非法活动；</li>
      <li>不传播涉及计算机病毒或其他恶意代码的信息；</li>
      <li>不从事任何可能妨碍本网站运营或损害本网站的活动；</li>
    </ol>
  </p>
  <p>
    15. 本网站有权在任何时间内修改并更新本免责声明的条款。用户应每次访问本网站前查看本声明是否有更新，如用户不同意本声明的任何条款，请立即停止使用本网站。
  </p>

  <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备12050610号-4</a>
</body>
