<!DOCTYPE html>
<head>
  <title>角色定义</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
</head>

<body>
  <h3>网站免责声明</h3>
  <h5>请注意以下条款和条件，以规避您的风险和损失。如果您不同意本申明，请立即离开本网站。如果您继续访问和使用本网站，则表示您已经阅读、理解并同意接受本声明的所有条款和条件。</h5>
  <p>
    1. 本网站所提供的任何内容和服务仅供用户个人学习、研究和测试之用，不得作为商业用途。本网站的所有信息未来可能会随时更新和更改、不保证其准确性、完整性、及时性、适用性、稳定性和可靠性。
  </p>
  <p>
    2. 本网站提供的各种服务可能会由于技术故障、网络状况、通讯线路等各种原因而受到影响，使用户无法正常使用服务。对于因此造成的任何损失或者责任，本网站概不负责。
  </p>
  <p>
    3. 本网站内所有文章、评论、资料和信息等均为用户自行发布和创作，不代表本网站立场。用户应对使用该等信息所产生的风险和后果自行承担。对于任何因使用本网站所提供的信息和服务而导致的任何直接或者间接损失，本网站概不负责。
  </p>
  <p>
    4. 用户应当遵守中华人民共和国的相关法律法规，不得利用本网站进行任何违反法律法规的活动。如果因用户违反法律法规而导致的一切后果，用户应独立承担相应的责任和后果，并赔偿因此产生的全部费用和损失。
  </p>
  <p>
    5.
  </p>
  <p>
    6.
  </p>

  <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备12050610号-4</a>
</body>
